{% include 'sitio/cabecera.html' %}


<div class="card">
  
  <div class="card-body">
    <h1 class="display-4 fw-normal">TRASMI APP</h1>
    <p>Trasmi App es una aplicacion que te permite a los usuarios de trasmilenio reportar los diferentes
      inconvenientes que se presentan en las estaciones de trasmilenio lo que hace que se ahorren los tiempos para poder realizar las 
      diferentes acciones que se pueden hacer en la aplicacion web
      <img src="" alt="">
    
  </div>
</div>
  

{% include 'sitio/pie.html' %}